/* 
    Document   : style
    Created on : Apr 11, 2013, 1:20:48 AM
    Author     : San
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.ui-widget, .ui-widget .ui-widget,.ui-state-default,.ui-button-text {
    font-size: 90% !important;
}

