/* 
    Document   : style
    Created on : Apr 11, 2013, 1:20:48 AM
    Author     : San
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.ui-widget {
    font-size: 88% !important;
}

.ui-inputtext{
    font-size: 100% !important;
}

